<div class="location {{ side }}">
    <p class="name">{{ name }}</p>
    <div class="pictogram">
        <img class="graphic" src="img/{{ icon }}.png" alt="{{ icon }}">
        <p class="temperature">{{ temperature }}</p>
    </div>
</div>
