body {
    font-family: 'Lato', Sans-Serif;
    margin: 0;
}
.weather {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.locations {
    border-bottom: 1px black solid;
}
.location {
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.pictogram {
    margin: 0;
}
.graphic {
    width: 18vw;
    height: 18vw;
    float: left;
    padding-bottom: 10%;
    margin-left: 5vw;
    margin-right: 1vw
 }
.temperature {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.25);
    float: left;
    text-align: center;
    line-height: 1.2em;
    font-size: 15vw;
    width: 18vw; /* line-height * font-size */
    padding: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 5vw
}
.name {
    font-size: 5.0vw;
}
.left {
    border-left: 1px white solid;
}
.right {
    border-left: 1px black solid;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.comparison {
    border-bottom: 1px black solid;
    padding-bottom: 1em;
}
